@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
    --font: 'IBM Plex Sans', sans-serif;
    --fontp4: 400;
    --fontp6: 600;
    --preto: #000;
    --cinza: #878787;
    --cinzafechado: #373737;
    --branco: #fff;
    --verde: #6ce943;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    overflow: hidden;
    text-decoration: none !important;
}

body {
    background: linear-gradient(90deg, var(--cinza), var(--preto), var(--cinza));
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagemForca {
    background-image: url("/assets/img/forca.png");
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.palavraSecreta {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.letras {
    font-size: 40px;
    margin: 0 3px;
    text-transform: lowercase;
    border-bottom: 3px solid var(--verde);
}

.categoria {
    margin-top: 20px;
}

.teclado {
    padding-bottom: 100px;
    margin-top: 40px;
}

.teclas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.teclas button {
    margin: 5px 3px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid var(--cinza);
}

.teclas button:hover {
    border: 2px solid var(--verde);
    background-color: var(--preto);
    color: var(--branco);
    cursor: pointer;
}

.teclas button:disabled {
    cursor: not-allowed;
}

#btnReiniciar {
    margin: 5px 3px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid var(--preto);
}

#reiniciar:hover {
    border: 1px solid var(--verde);
    background-color: var(--preto);
    color: var(--branco);
}

.modal {
    background: var(--preto);
}

.stylemodal {
    background-color: var(--cinza);
    color: var(--preto);
    font-weight: 600;
    text-align: center;  
    border: 1.5px solid var(--verde) !important;  
}

.btn {
    background: var(--cinzafechado);
    color: var(--branco);
    border-bottom: 3px solid var(--verde) !important;
}

.btn:hover {
    background: transparent;
    color: var(--preto);
    border-bottom: 3px solid var(--verde) !important;
    font-weight: 600;
}

.btn a{
    background: var(--cinzafechado);
    color: var(--branco);
}

.btn a:hover {
    background: transparent;
    color: var(--preto);
    font-weight: 600;
}

.fonte6 {
    color: var(--branco);
    font-size: 2.3rem;
    font-weight: var(--fontp6);
}

.fonte4 {
    color: var(--verde);
    font-size: 1.8rem;
    font-weight: var(--fontp4);
}